/*CABERCERA, EN TODAS LAS PAGINAS IGUAL*/

/*MEDIDAS ESTANDARES DE TODA LA PAGINA WEB*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    color: darkCyan;
    font-family:serif;
    background-color: white;
    padding: 0.5em 2vw;
}

div.logo{ /*LOGO DE LA EMPRESA EN TODAS LAS PAGINAS*/
    text-align:center;
}

#barra{
    width: 1200px;
    margin: 25px auto;
}
#barra ul{
    list-style-type: none;
    text-align: center;
    font-size: 5mm;
    font-family:serif;
}
 #barra li a {
    display:block;
    padding: 10px 100px;
    width: auto;
    color:white;
    background-color: darkcyan;
    text-decoration:none;
 }
 .menu > li{
     position: relative; /*sirve para aseguranos de que de ninguna manera se va ir a ninuna otra parted e la pagina*/
     display:inline-block;
 }
 #barra li a:hover{
     color:darkcyan;
     background-color:white;
     /*transicion del cabio de color*/
     transition: all ,1s;
 }

 /*AQUI VA IR LA BARRA DESPLEGABLE, LLAMADA CON LA CLASE SUBMENU*/

 .submenu{
     position: absolute;
     width: 100%;
     display: none; /*con esto hacmoes desaparecer al submenu*/
 }
 .submenu li a{
     display:block;
     text-align: center;
 }
 .menu li:hover .submenu{
    display: block;
 }

 /*INFO INDIVIDUAL PAGINA UBICACION/CONTACTO*/
 h2{
    padding-left: 12%;
}

 iframe{
    text-align:center;
    padding: 20px 65px; 
    float: left;
}

.informacion{
    padding:15px 65px;
    font-size: 26px;   
}

/*FORMULARIO*/

.contenedor {
	width: 90%;
    height: 40px;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
    text-align: center;
    margin-top:70px;
}


.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color:white;
	background: darkcyan;
	border-radius: 3px;
	font-family: serif;
	font-size: 30px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ESTILOS DEL POPUP O VENTANA EMERGENTE*/


.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    align-items: center;
	justify-content: center;
	display: flex;
    visibility: hidden;
}
.overlay.active{
   visibility: visible; 
} 
.popup {
	background:#F8F8F8;
	box-shadow:0px 0px 5px 0px white;
    color:darkcyan;
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color:darkcyan;
    text-decoration: none;
}

.popup .btn-cerrar-popup:hover {
	color: black;
}

.popup h3 {
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
    color:darkcyan;
	height: 52px;
	font-size: 20px;
	line-height: 52px;
	text-align: center;
	border: 2px solid darkcyan;
    border-radius: 3px;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color:white;
	background:rgba(94,125,227);;
	border-radius: 3px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .7);
}

/*ANIMACIONES VENTANA EMERGENTE*/

/*animacion de la propia ventana para aparecer*/
.popup.active {opacity: 1; transform: scale(1);}
/*animacion del texto mas grande en el que pone contactanos*/
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards ;}
/*animacion del texto que dice "introduce tus datos"*/
.popup.active h4 { animation: entradaSubTitulo .8s ease .5s forwards ;}
/*animacion de los inputs*/
.popup.active .contenedor-inputs { animation: entradaInputs 1s ease 1.5s forwards ;}
@keyframes entradaTitulo {
    from{
        transform: translateY(-25px);
        opacity: 0;   
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaSubTitulo {
    from{
        transform: translateY(25px);
        opacity: 0;   
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaInputs {
    from{opacity: 0;}
    to{opacity:1;}  
}


/*AQUI EMPIEZA EL FOOTER*/
footer{
    margin: 0px;
    box-sizing: border-box;
    font-family: serif;
    background-color: white;
    color: darkk-cyan;
    width: 100%

}
/*2 PARTES DE FOOTER (CONTAINER-BODY Y CONTAINER-FOOTER) Y CONTAINER-FOOTER-ALL ENGLOBA A LA CLASE QUE CONTIENE TODOS LOS FOOTERS*/
.container-footer-all{
    width:100%;
    max-width: 1200px;
    margin:auto;
    padding: 40px;
} 
/*CONTAINER BODY: 3 COLUMNAS*/
.container-body{
    display:flex;  
    justify-content: space-around;
}
/*COLUM1*/
.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
    color: black;
}

.colum1 p{
    font-size: 14px;
    margin-top: 20px;
}
/*COLUM2*/
.colum2{
    max-width: 400px;   
}

.colum2 h1{
   font-size: 22px;
   color: black;
}
.colum2 .row{
   margin-top: 20px;
   display:flex;
}
/*formato imagenes iconos redes sociales*/
.row img{
   width: 40px;
   height: 40px;  
}

.row label{
   margin-top:10px;
   margin-left:20px;

}

/*COLUM 3*/
.colum3{
   max-width: 400px;   
}

.colum3 h1{
   font-size: 22px;
   color:black;
}

.row2{
   margin-top: 20px;
   display:flex;
}

.casa{
   width: 44px;
   height: 44px;  
}
.movil{
   width: 36px;
   height: 36px; 
}
.sobre{
   width: 36px;
   height: 36px; 
}
.row2 label{
   margin-top:10px;
   margin-left: 20px;
   max-width: 130px;
}
/*AQUI EMPIEZA CONTAINER FOOOTER*/

.container-footer{
   width: 100% ;
   padding: 10px;
}
.footer{
   max-width: 1200px;
   margin: auto;
   display:flex;
   padding:20px;
   justify-content: space-between;
}
.copyright{
   font-weight: bold;
}

.information a{
   text-decoration: none;
   color:black;
}

/*HACER QUE LA PAGINA SEA RESPONSIVE*/
@media screen and (max-width: 1100px){
   .container-body{
       flex:wrap;  
   } 
   .colum2,
   .colum3{
       margin-top: 40px;
   }
}
